
@import url('https://fonts.googleapis.com/css2?family=Vazirmatn:wght@100..900&display=swap');
:root{
    --mainColor : #5650ce ;
--cardColor:#181a3d;
--cardColor1:#20234d;
--colorText :white ;
--colorIndigo: #6610f2 ;
}

::-webkit-scrollbar {
    width: 12px;
    height: 12px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 10px;
    border: 3px solid #f1f1f1;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

html {
    scrollbar-color: #888 #f1f1f1;
    scrollbar-width: thin;
}

body{
background-color: var(--cardColor);
color : var(--colorText);
font-family: "Vazirmatn", sans-serif;
}
.Navbar{
transition: .3s ease-in;
height: 80px;
}
.Navbar img{
    transition: .3s ease-in;
}
.Navbar img:hover{
    scale: 1.1;
}
.home_section{
    background-image: url('./assets/hero-banner.png');
    padding: 120px 0 120px;
    position: relative;
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;
    position: relative;
    overflow: hidden;

}

.button_bg{
    background-image: linear-gradient(166deg, rgb(242, 40, 118) 0%, rgb(148, 45, 217) 100%);
}


.NavLink{
    color: white;
    text-decoration: none;
position: relative;
display: inline-block;
}
.NavLink::after{
    content: '';
position: absolute;
right: 0%;
bottom: -90%;
width: 0;
background-color: white;
height: 2px;
transition: width 0.3s ease, left 0.3s ease;
}
@media (max-width :600px) {
    .NavLink::after{
        content: '';
bottom: -50%;
    }

}
.NavLink:hover::after,
.NavLink.active::after{
width: 100%;
left: 0;
color: #000;
}

.group:hover .group-hover\\:flex {
    display: flex;
  }

  .group-hover\\:flex {
    display: none;
  }

  .group .group-hover\\:flex {
    display: none;
  }

  .group:hover .group-hover\\:flex {
    display: flex;
  }
  .BoxCard{

    transition: 0.3s ease;
    background-color:var(--cardColor1) ;
  }
  .BoxCard img{
    animation: leftRight 5s linear infinite ;

  }
.BoxCard:hover{
box-shadow: 0px 5px 30px 0px rgba(176, 171, 193, 0.4);
}
.bgVideo{
    padding:  0px 100px;
    background: url(./assets/bg-img.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    overflow: hidden;

}
.imageCard{
    animation: leftRight 5s linear infinite ;

}


@keyframes leftRight {
    0% {
        -webkit-transform: translateY(0px);
        transform: translateY(0px);
    }
    50% {
        -webkit-transform: translateY(-10px);
        transform: translateY(-10px);
    }
    100% {
        -webkit-transform: translateY(0px);
        transform: translateY(0px);
    }

}

